fastapi==0.115.0  
uvicorn[standard]==0.30.6  
python-multipart==0.0.12  
moviepy==1.0.3  
pydub==0.25.1  
  
# imageio and imageio-ffmpeg are required by moviepy  
imageio==2.35.1  
imageio-ffmpeg==0.5.1  
